<div class="row">
	<div class="col-md-12">
		<nb-card>
			<nb-card-header>
				<span>Movie List</span>
				<button
					routerLink="/pages/movie"
					nbButton
					status="primary">
					Create New Movie
				</button>
			</nb-card-header>
			<nb-card-body>
				<table [nbTreeGrid]="movies">

					<tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
					<tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

					<ng-container nbTreeGridColumnDef="title">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Title</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							{{row.data.title}}
						</td>
					</ng-container>

					<ng-container nbTreeGridColumnDef="category">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Category</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							{{row.data.category}}
						</td>
					</ng-container>

					<ng-container nbTreeGridColumnDef="directory">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Directory</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							<span *ngIf="row.data.director ; else other_content">
							{{row.data.director.name}} {{row.data.director.surname}}
							</span>
							<ng-template #other_content>Not found directory.</ng-template>
						</td>
					</ng-container>

					<ng-container nbTreeGridColumnDef="imdb_score">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Imdb Score</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							{{row.data.imdb_score}}
						</td>
					</ng-container>

					<ng-container nbTreeGridColumnDef="year">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Year</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							{{row.data.year}}
						</td>
					</ng-container>

					<ng-container nbTreeGridColumnDef="action">
						<th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Actions</th>
						<td nbTreeGridCell *nbTreeGridCellDef="let row">
							<button
							nbButton
							status="warning"
							class="mr-2"
							[routerLink]="['/pages/movie/', row.data._id]"
							>
								<nb-icon icon="edit-2-outline"></nb-icon>
							</button>
							<button
								nbButton
								status="danger"
								(click)="fnOpenDialog(deleteDialog, row.data._id)"
							>
								<nb-icon icon="trash-2-outline"></nb-icon>
							</button>
						</td>
					</ng-container>

				</table>
			</nb-card-body>
		</nb-card>
	</div>
</div>

<ng-template #deleteDialog let-data let-ref="dialogRef">
	<nb-card>
		<nb-card-header>
			Product will be deleted
		</nb-card-header>
		<nb-card-body>{{ data.message }}</nb-card-body>
		<nb-card-footer>
			<button
				nbButton
				class="mr-2"
				status="danger"
				(click)="ref.close(); fnDeleteItem(data.id)">
				Delete
			</button>
		</nb-card-footer>
	</nb-card>
</ng-template>

